.toggle-dark-mode {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 9999;
}
.new-data-instance-button {
    background-color: #199319;
    color: white;
    padding: 15px 25px;
    text-decoration: none;
    border-radius: 8px;
}
.new-data-instance-button:hover {
    background-color: #223094;
}
.delete-button {
    background-color: #bb3505;
    color: white;
    padding: 15px 25px;
    text-decoration: none;
    border-radius: 8px;
    position: absolute;
    right: 10px;
    transform: translate(-50%, -50%);
    
}
.delete-button:hover {
    background-color: #f8d228;
}
.logout-button{
    background-color: #f35e28;
    color: white;
    padding: 15px 25px;
    text-decoration: none;
    border-radius: 8px;
    position: absolute;
    left: 10px;
    bottom: 10px;
}
.logout-button:hover{
    background-color: rgb(4, 32, 50);
}
h1 {
    text-align: center;
}