.toggle-dark-mode {
    /* position: absolute;
    top: 10px;
    right: 10px;
    z-index: 9999; */
    margin-top: 30px;
}

.new-data-instance-button {
    background-color: #199319;
    color: white;
    padding: 15px 25px;
    text-decoration: none;
    border-radius: 8px;
}
.new-data-instance-button:hover {
    background-color: #223094;
}
.button{
    padding: 15px 25px;
    text-decoration: none;
    border-radius: 8px;
}

.delete-button, .download-button {
    background-color: #D7BBF5;
    color: white;
    position: relative;
    margin-right: 10px;
}
.delete-button:hover, .download-button:hover {
    background-color: #D7BBF5;
}

.logout-button{
    background-color: #f35e28;
    color: white;
    position: relative;
    /* left: 10px;
    top: 10px; */
}
.logout-button:hover{
    background-color: rgb(4, 32, 50);
}
.login-button{
    background-color: #17f783;
    color: white;

    margin-top: 22px;
}

.login-button:hover{
    background-color: rgb(239, 245, 249);
}
.back-button{
    position:relative;
    top:10px;
    left:10px;
    background-color:#17f783
}
h1 {
    text-align: center;
}
img.center {
    display:block;
    margin-left:auto;
    margin-right:auto;
}
img.header-logo{
    margin-top: 5px;
    margin-left: 20px;
    height:90%;
}
.book-img {
    width:250px;
    height:auto;
}
