{% extends 'header.html' %}

{% block head %} 
<title>Books</title>
{% endblock %} 

{% block body %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.6.0/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>

    <h1 class="header-title">Book Data List</h1>

    <div style="text-align: center;">
    <a href="{{ url_for('books.new_book') }}" class="new-data-instance-button fa fa-book-medical"> Add Book</a>
    </div>

    <div class="container-wrapper center">
    <div class="container">
        {% for data in data_list %}
        <div class="list-item" style="display:inline-block;">
              <div class="center">
                <img class="center book-img" src="{{data['img_url']}}" alt="{{data['title'] | default('no title')}}">
              </div>
              <div style="text-align: center; padding: 15px 0px 5px 0px;">
              <!--  <input type="text" name = "del" hidden value="{{ data['_id'] }}"> -->
              <a href="{{ url_for('books.delete_book', id = data['_id']) }}" class = 'button delete-button'><i class="fas fa-trash-can"></i> Delete</a>
              {# <a href="{{ url_for('books.send_to_kindle', id = data['_id']) }}" class="button delete-button fa-solid"> Send To Kindle </a> #}
              <a href="{{ url_for('books.download_config', id = data['_id']) }}", id = "download-book" class="button download-button"><i class="fas fa-download"></i> Download</a>
              <!-- <canvas id="loading-bar"></canvas> -->
              </div>
              <!-- <canvas id="loading-bar" hidden></canvas> -->     
        </div>
        {% endfor %}
    </div>
    </div>
    <script src="/static/epub/test.js"></script>


<script>
// This block is to trick the send_kindle_address form not to redirect the user
function submitForm(event) {
    event.preventDefault(); // Prevent the default form submission behavior

    var formData = new FormData(event.target);

    // Create a new AJAX request
    var xhr = new XMLHttpRequest();
    xhr.open('POST', "{{url_for('set_kindle_address')}}", true);

    // Handle the AJAX response
    xhr.onload = function () {
        if (xhr.status === 200) {
            alert('Form submitted successfully');
        } else {
            alert('Form submission failed');
        }
    };
    xhr.send(formData);
}
</script>




{% endblock %}
