{% extends 'header.html' %}

{% block head %} 
<title>{{ TITLE }}</title>
{% endblock %} 

{% block body %}
<h1>{{ TITLE }}</h1>




<div class="container">
    <div>{% block preform %}{% endblock %}</div> 
<p > {{ DERCRIPTION }} </p>
<hr style="margin-bottom:20px"></hr>

  {% import 'macros/render_fields.j2' as macros %}
  <form action="{{ ACTION }}" method="POST"
{% if NO_REDIRECT_ONSUBMIT  -%}
      onsubmit="submitForm(event)"
{%- endif %}>

    {{ macros.render_fields(DATA) }}

    <button class="button" type="submit">{{ SUBMIT | default('Submit') }}</button>
    
    {% block form_extension %}
    {% endblock %}
  </form>

<!-- Import and Export options -->
{% if INCLUDE_IMPORT_EXPORT  %}
{% include 'form_import_export.html' %}
{% endif %}
</div>

{% if NO_REDIRECT_ONSUBMIT  %}
<script>
function submitForm(event) {
    event.preventDefault(); // Prevent the default form submission behavior

    var formData = new FormData(event.target);

    // Create a new AJAX request
    var xhr = new XMLHttpRequest();
    xhr.open('POST', "{{ ACTION }}", true);

    // Handle the AJAX response
    xhr.onload = function () {
        if (xhr.status === 200) {
            alert('Form submitted successfully');
        } else {
            alert('Form submission failed');
        }
    };
    xhr.send(formData);
}
</script>
{% endif %}
{% endblock %}
