{% extends 'header.html' %}


{% block head %} 
<title>{{ TITLE }}</title>
{% endblock %} 

{% block body %}
<h1 class="header-title">{{ TITLE }}</h1>

<div class="container center">
    <div>{% block preform %}{% endblock %}</div> 
<p > {{ DESCRIPTION }} </p>
<hr style="margin-bottom:20px"></hr>

<form id="form" action="{{ ACTION }}" method="POST" style="width: 100%;"
{% if NO_REDIRECT_ONSUBMIT  -%}
      onsubmit="submitForm(event)"
{%- endif %}>
    {% block form_body %}
    <table class="form-table">
        <colgroup>
           <col span="1" style="width: 20%;">
           <col span="1" style="width: 80%;">
        </colgroup>

        <tbody>

        {% import 'macros/render_fields.j2' as macros %}
        {{ macros.render_fields(DATA) }}
        </tbody>

        {% block form_extension %}
        {% endblock %}

    </table>

    <button class="button" type="submit">{{ SUBMIT | default('Submit') }}</button>
    {% endblock %}

  </form>

<!-- Import and Export options -->
{% if INCLUDE_IMPORT_EXPORT  %}
{% include 'form_import_export.html' %}
{% endif %}
</div>

{% if NO_REDIRECT_ONSUBMIT  %}
<script>
function submitForm(event) {
    event.preventDefault(); // Prevent the default form submission behavior

    var formData = new FormData(event.target);

    // Create a new AJAX request
    var xhr = new XMLHttpRequest();
    xhr.open('POST', "{{ ACTION }}", true);
    
    // Handle the AJAX response
    xhr.onload = function () {
        if (xhr.status === 200) {
            alert('Form submitted successfully');
        } else {
            alert('Form submission failed');
        }
    };
    xhr.send(formData);
}
</script>
{% endif %}
{% endblock %}
