{% extends 'data_form.html' %}

{% import 'macros/render_fields.j2' as macros %}

{% block preform %}
<div id="status" style="display:none;">
    <p id="status-text"></p>
    <div class="w3-border">
      <div id="status-bar"  class="w3-grey" style="height:24px;width:20%"></div>
    </div>
</div>

{% endblock %}

{% block form_body %}

<table class="form-table">
  <colgroup>
   <col span="1" style="width: 20%;">
   <col span="1" style="width: 80%;">
  </colgroup>

  <tbody>
 {{ macros.render_fields(DATA) }}
  </tbody>

</table>

{# <table class="center">
<tbody>
    <td><a id="downloadButton" class="button delete-button fa-solid fa-download" href="#">Download</a></td>
    <td><a id="sendToKindleButton" class="button delete-button fa-solid" href="#">SendToKindle</a></td>
</tbody>
</table>
#}

<div class="form-table">
    <a id="downloadButton" class="button fa-solid fa-download" href="#">Download</a>
    <a id="sendToKindleButton" class="button fa-solid" href="#">SendToKindle</a>
</div>



<div id="collapsible-advanced" class="collapsible hidden">
<h2 style="text-align: center" class="collapsbtn">Advanced</h2>

<div id="collapsible-chapters" class="collapsible collapsible-content">

<h3 style="text-align: center"  class="collapsbtn">Chapters</h3>
<div class="form-table collapsible-content">
  <button id="selectAllUrldButton" type="button" onclick="selectAllUrls(true)">Select All</button>
  <button id="unselectAllUrldButton"type="button" onclick="selectAllUrls(false)">Unselect All</button>
  <button id="selectNewUrldButton"type="button" onclick="selectNew()">Select New</button>
</div>

<table id="chapterUrlsTable" class="form-table collapsible-content">
<tbody>
<tr>
    <td colspan=3>
    </td>
</tr>
  {% for idx, (text, href, time) in CHAPTERS -%}
    <tr class="form-row">
      <td> <input type="checkbox" id="{{ idx }}" name="chapter-cbx-{{ idx }}" checked
        {% if time.timestamp() > LAST_SEND_TO_KINDE   %} is_new=true {% endif %}> </td>
      <td> <input type="value"  id="{{ idx }}_text" name="chapter-text-{{ idx }}"value="{{ text }}"> </td>
      <td> <input hidden type="value"  id="{{ idx }}_url" name="chapter-url-{{ idx }}"  value="{{ href }}"> </td>
      <td> <p
        {% if time.timestamp() > LAST_SEND_TO_KINDE   %}
                   style="color:red"
        {% endif %}> {{ time.__str__() }} </p>
          <time unixtime={{ time.timestamp() }}></time></td>
    </tr>
  {%- endfor %}
  </div>
</tbody>
</table>

</div>
</div>

</div>

<script>
function selectAllUrls(selection) {
    urlTable = document.getElementById("chapterUrlsTable");
    checkboxes = urlTable.querySelectorAll('input[type=checkbox]');
    for(var i=0; i<checkboxes.length; i++){
           checkboxes[i].checked = selection;
    }
}

function selectNew() {
    urlTable = document.getElementById("chapterUrlsTable");
    checkboxes = urlTable.querySelectorAll('input[type=checkbox]');
    for(var i=0; i < checkboxes.length; i++){
        checkboxes[i].checked = checkboxes[i].getAttribute("is_new");
    }
}


let nIntervId;

function checkDownloadStatus(download_id, callback) {
    var xhr = new XMLHttpRequest();
    xhr.open('POST', "{{ url_for('books.download_status') }}", true);
    xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");

    xhr.onload = function () {
        if (xhr.status === 200) {
            console.log("Status response: ");
            console.log(xhr.response);
            response = JSON.parse(xhr.response);

            if (response['status'] === "Downloading") {
                document.getElementById('status-bar').style.width = response['percentage'];
            } else {
                document.getElementById('status').style.display = 'none'
                clearInterval(nIntervId);
                callback(response);
            }

            // alert('New Form successfully');
            // setInterval(checkDownloadStatus, 500, download_id);
        } else {
            alert('New Form submission failed');
        }
    };

    console.log("download_id: " + String(download_id));
    xhr.send(JSON.stringify({ "download_id": download_id}));
}

function downloadBook(do_send_to_kindle, callback) {
    var formData = new FormData(document.getElementById("form"));

    formData.append('do_send_to_kindle', do_send_to_kindle);

    var xhr = new XMLHttpRequest();
    xhr.open('POST', document.URL, true); // "{{ url_for('books.download_config', id=_id) }}"

    xhr.onload = function () {
        if (xhr.status === 200) {
            document.getElementById('status').style.display = 'block'
            document.getElementById('status-text').style.display = 'Downloading'
            document.getElementById('status-bar').style.width = '0%'

            console.log("Download response: ");
            console.log(xhr.response);
            response = JSON.parse(xhr.response);
            download_id = response["download_id"];

            nIntervId = setInterval(checkDownloadStatus, 500, download_id, callback);
        } else {
            alert('Form submission failed');
        }
    };
    xhr.send(formData);
}

document.getElementById("downloadButton").addEventListener("click", () => {
    downloadBook(false, function (response) {
        if (response['status'] !== "Finished") {
            console.log("Download NOT Finished");
            return;
        }


        console.log("Download Finished");
        console.log(response);
        window.location.href = response['download_url'];
    });
});

document.getElementById("sendToKindleButton").addEventListener("click", () => {
    downloadBook(true, function (response) {
        if (response['status'] !== "Finished") {
            console.log("Download NOT Finished\n response:", response);
            console.log(response);
            return;
        }
        console.log("Download Finished");
        location.reload();
    });
});


</script>


<style>
.hidden .collapsbtn {
  color: #222;
}

.collapsbtn {
  /* background-color: #11111111;*/
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
 text-decoration: underline;
}

.collapsbtn:hover {
  color: #336;
</style>

{% endblock %}
