{% extends 'data_form.html' %}

{% import 'macros/render_fields.j2' as macros %}

{% block preform %}
<div id="status" style="display:none;">
    <p id="status-text"></p>
    <div class="w3-border">
      <div id="status-bar"  class="w3-grey" style="height:24px;width:20%"></div>
    </div>
</div>

{% endblock %}

{% block form_body %}
<table class="form-table">
  <colgroup>
   <col span="1" style="width: 20%;">
   <col span="1" style="width: 80%;">
  </colgroup>

  <tbody>
 {{ macros.render_fields(DATA) }}
  </tbody>

</table>

<table class="center">
<tbody>
    <td><a id="downloadButton" class="button delete-button fa-solid fa-download" href="#">Download</a></td>
    <td><a id="sendToKindleButton" class="button delete-button fa-solid" href="#">SendToKindle</a></td>
</tbody>
</table>

<div id="collapsible-advanced" class="collapsible hidden">
<h2 style="text-align: center" class="collapsbtn">Advanced</h2> 

<div id="collapsible-chapters" class="collapsible collapsible-content">
    
<h3 style="text-align: center"  class="collapsbtn">Chapters</h3> 
<div class="form-table collapsible-content">
  <button id="selectAllUrldButton" type="button" onclick="selectAllUrls(true)">Select All</button> 
  <button id="unselectAllUrldButton"type="button" onclick="selectAllUrls(false)">Unselect All</button> 
</div>

<table id="chapterUrlsTable" class="form-table collapsible-content">
<tbody>
<tr>
    <td colspan=3>
    </td>
</tr>
  {% for idx, (text, href, time) in CHAPTERS -%} {# Should construct this list in js. #}
    <tr class="form-row ">
      <td> <input type="checkbox" id="{{ idx }}" name="chapter-cbx-{{ idx }}" checked> </td>
      <td> <input type="value"  id="{{ idx }}_text" name="chapter-text-{{ idx }}"value="{{ text }}"> </td>
      <td> <input hidden type="value"  id="{{ idx }}_url" name="chapter-url-{{ idx }}"  value="{{ href }}"> </td>
        <td> <p> {{time}} </p></td>
    </tr>
  {%- endfor %}
  </div>
</tbody>
</table>

</div>
</div>

</div>

<script>
function selectAllUrls(selection) {
    urlTable = document.getElementById("chapterUrlsTable");
    checkboxes = urlTable.querySelectorAll('input[type=checkbox]');
    for (element in checkboxes) {
        element.checked = true;
    }
    for(var i=0; i<checkboxes.length; i++){  
           checkboxes[i].checked = selection;  
                } 
    // querySelectorAll(".dropbtn")
    
}

let nIntervId;

function checkDownloadStatus(download_id, callback) {
    var xhr = new XMLHttpRequest();
    xhr.open('POST', "{{ url_for('books.download_status') }}", true);
    xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");

    // document.getElementById('status').innerHTML = download_id;
    xhr.onload = function () {
        if (xhr.status === 200) {
            // document.getElementById('status').innerHTML = xhr.response;
            console.log("Status response: ");
            console.log(xhr.response);
            response = JSON.parse(xhr.response);
    
            if (response['status'] === "Downloading") {
                document.getElementById('status-bar').style.width = response['percentage'];
            } else {
                document.getElementById('status').style.display = 'none'
                clearInterval(nIntervId);
                callback(response);
            }

            // alert('New Form successfully');
            // setInterval(checkDownloadStatus, 500, download_id);
        } else {
            alert('New Form submission failed');
        }
    };

    console.log("download_id: " + String(download_id));
    xhr.send(JSON.stringify({ "download_id": download_id}));
}

// let Downloading = True;
function downloadBook(callback) {
    // if (Downloading)
    //     return;
    // Downloading = True;
    var formData = new FormData(document.getElementById("form"));
    
    var xhr = new XMLHttpRequest();
    xhr.open('POST', document.URL, true); // "{{ url_for('books.download_config', id=_id) }}"

    xhr.onload = function () {
        if (xhr.status === 200) {
            document.getElementById('status').style.display = 'block'
            document.getElementById('status-text').style.display = 'Downloading'
            document.getElementById('status-bar').style.width = '0%'

            console.log("Download response: ");
            console.log(xhr.response);
            nIntervId = setInterval(checkDownloadStatus, 500, xhr.response, callback);
        } else {
            alert('Form submission failed');
        }
    };
    xhr.send(formData);
}

document.getElementById("downloadButton").addEventListener("click", () => {
    downloadBook(function (status) {
        if (response['status'] !== "Finished") {
            console.log("Download NOT Finished");
            return;
        }
        console.log("Download Finished");
        window.location.href = status['download_url'];
    });
});

document.getElementById("sendToKindleButton").addEventListener("click", function () {
    downloadBook(function (status) {
        if (response['status'] !== "Finished") {
            console.log("Download NOT Finished");
            return;
        }
        console.log("Download Finished");

        var xhr = new XMLHttpRequest();
        xhr.open('POST', "{{ url_for('books.send_epub_file_to_kindle') }}", true);
        xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
        xhr.send(JSON.stringify({ "download_id": status['download_id']}));
    });
});


</script>


<style>
.hidden .collapsbtn {
  color: #222;
}

.collapsbtn {
  /* background-color: #11111111;*/
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
 text-decoration: underline;
}

.collapsbtn:hover {
  color: #336;
</style>

{% endblock %}
