{% extends 'data_form.html' %}

{% import 'macros/render_fields_2.j2' as macros %}

{% block form_body %}

<table class="form-table">
  <colgroup>
   <col span="1" style="width: 20%;">
   <col span="1" style="width: 70%;">
   <col span="1" style="width: 10%;">
  </colgroup>

  <tbody>
 {{ macros.render_fields(DATA) }}
  </tbody>

</table>


<script>
   
document.querySelectorAll('#use_default').forEach((e) => {
    e.addEventListener('click', () => {
        console.log(e.name);
    });
});
</script>

{% endblock %} 
