{% extends 'header.html' %}

{% block head %} 
<title>Edit Data</title>

<script src="https://cdnjs.cloudflare.com/ajax/libs/js-yaml/4.1.0/js-yaml.min.js"></script>
<!-- <script src="{{ url_for('static', filename='edit_book_script.js') }}"></script> -->
{% endblock %} 


{% block body %}
<h1>Edit Data</h1>

<button class="toggle-dark-mode" type="button" onclick="toggleDarkMode()">Toggle Dark Mode</button>

<div class="container">
    <form action="{{ url_for('edit_data', id=id) }}" method="POST" onsubmit="submitForm(event)">
      {{ data | generate_form_entry('Title', 'title') | safe }}
      {{ data | generate_form_entry('Author', 'author') | safe }}
      {{ data | generate_form_entry('Cover Image', 'cover_image') | safe }}
      {{ data | generate_form_entry('Entry Point', 'entry_point') | safe }}
      {{ data | generate_form_entry('RSS', 'rss') | safe }}
      {{ data | generate_form_entry('CSS', 'css_filename') | safe }}
      <div class="chapter">
          <h2>Chapter CSS Selectors</h2>
      {{ data | get('chapter') | generate_form_entry('Section', 'section_css_selector') | safe }}
      {{ data | get('chapter') | generate_form_entry('Title', 'title_css_selector') | safe }}
      {{ data | get('chapter') | generate_form_entry('Text', 'text_css_selector') | safe }}
      {{ data | get('chapter') | generate_form_entry('Next', 'next_chapter_css_selector') | safe }}
      </div>

      <button class="button" type="submit">Save</button>
  </form>

<!-- Import and Export options -->
  <div class="import-export">
     <h2>Import/Export Data</h2>
     <div class="form-row">
         <label class="label" for="import_file">Import Data:</label>
         <div class="input-field">
             <input type="file" id="import_file" name="import_file">
         </div>
     </div>
     <div class="form-row">
         <label class="label" for="export_format">Export Format:</label>
         <div class="input-field">
             <select id="export_format" name="export_format">
                 <option value="yaml">YAML</option>
                 <option value="json">JSON</option>
             </select>
         </div>
        <button class="button" onclick="exportData()">Export</button>
     </div>
  </div>
</div>
<script>

function submitForm(event) {
    event.preventDefault(); // Prevent the default form submission behavior

    // Get the form data
    var formData = new FormData(event.target);

    // Create a new AJAX request
    var xhr = new XMLHttpRequest();
    xhr.open('POST', "{{ url_for('edit_data', id=id) }}", true);

    // Set the response type if needed
    // xhr.responseType = 'json';

    // Handle the AJAX response
    xhr.onload = function () {
        if (xhr.status === 200) {
            // Successful response
            alert('Form submitted successfully');
            // Optionally, perform additional actions or show a success message
        } else {
            // Error or unexpected response
            alert('Form submission failed');
            // Optionally, show an error message or perform error handling
        }
    };

    // Send the form data
    xhr.send(formData);
}

function onInputFileLoad(fileContent, format) {
    let importedData;
    if (format === 'json') {
        // Parse JSON file
        try {
            importedData = JSON.parse(fileContent);
        } catch (error) {
            console.error('Error parsing JSON file:', error);
            return;
        }
    } else if (format === 'yaml') {
        // Parse YAML file
        try {
            importedData = jsyaml.load(fileContent);
        } catch (error) {
            console.error('Error parsing YAML file:', error);
            return;
        }
    } else {
        console.error('Unsupported file format:', format);
        return;
    }
    
    console.log(importedData);

    
    // Update form fields with imported data
    document.getElementById('title').value = importedData.title || '';
    document.getElementById('author').value = importedData.author || '';
    document.getElementById('cover_image').value = importedData.cover_image || '';
    document.getElementById('entry_point').value = importedData.entry_point || '';
    document.getElementById('rss').value = importedData.rss || '';
    document.getElementById('css_filename').value = importedData.css_filename || '';
    document.getElementById('section_css_selector').value = (importedData.chapter && importedData.chapter.section_css_selector) || '';
    document.getElementById('title_css_selector').value = (importedData.chapter && importedData.chapter.title_css_selector) || '';
    document.getElementById('text_css_selector').value = (importedData.chapter && importedData.chapter.text_css_selector) || '';
    document.getElementById('next_chapter_css_selector').value = (importedData.chapter && importedData.chapter.next_chapter_css_selector) || '';

    console.log('Data imported successfully:', importedData);
}

function handleImportFile(e) {
    const file = e.target.files[0];
    const reader = new FileReader();
    
    reader.onload = function (e) {
        const fileContent = e.target.result;
        const importFormat = file.name.split('.').pop().toLowerCase();
        onInputFileLoad(fileContent, importFormat);
   };

   reader.readAsText(file);
}
document.getElementById('import_file').addEventListener('change', handleImportFile);

function exportData() {
    const exportFormat = document.getElementById('export_format').value;
    const formData = {
        id: "{{ data.id }}",
        title: "{{ data.title }}",
        author: "{{ data.author }}",
        cover_image: "{{ data.cover_image }}",
        css_filename: "{{ data.css_filename }}",
        entry_point: "{{ data.entry_point }}",
        rss: "{{ data.rss }}",
        chapter: {
            section_css_selector: "{{ data.chapter.section_css_selector }}",
            title_css_selector: "{{ data.chapter.title_css_selector }}",
            text_css_selector: "{{ data.chapter.text_css_selector }}",
            next_chapter_css_selector: "{{ data.chapter.next_chapter_css_selector }}"
        },
        include_images: "{{ data.include_images }}"
    };

    let exportData;
    if (exportFormat === 'yaml') {
        // Convert data to YAML
        try {
            exportData = jsyaml.dump(formData);
        } catch (error) {
            console.error('Error converting data to YAML:', error);
            return;
        }
    } else if (exportFormat === 'json') {
        // Convert data to JSON
        try {
            exportData = JSON.stringify(formData, null, 2);
        } catch (error) {
            console.error('Error converting data to JSON:', error);
            return;
        }
    }

    // Create a download link
    const blob = new Blob([exportData], { type: 'text/plain' });
    const url = URL.createObjectURL(blob);
    const a = document.createElement('a');
    a.href = url;
    a.download = 'data.' + exportFormat;
    a.click();
    URL.revokeObjectURL(url);
}

</script>
{% endblock %}





