<div class="import-export">
     <h2>Import/Export Data</h2>
     <div class="form-row">
         <label class="label" for="import_file">Import Data:</label>
         <div class="input-field">
             <input type="file" id="import_file" name="import_file">
         </div>
     </div>
     <div class="form-row">
         <label class="label" for="export_format">Export Format:</label>
            <!-- <div class="custom-select" style="width:200px;"> -->            
            <select id="export_format" name="export_format">
                 <option value="yaml">YAML</option>
                 <option value="json">JSON</option>
             </select>
             <!-- </div> -->
        <button class="button" onclick="exportData()">Export</button>
     </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/js-yaml/4.1.0/js-yaml.min.js"></script>
<script src={{ url_for('static', filename='custom_select_script.js') }}> </script>
<script>
function onInputFileLoad(fileContent, format) {
    let importedData;
    if (format === 'json') {
        // Parse JSON file
        try {
            importedData = JSON.parse(fileContent);
        } catch (error) {
            console.error('Error parsing JSON file:', error);
            return;
        }
    } else if (format === 'yaml') {
        // Parse YAML file
        try {
            importedData = jsyaml.load(fileContent);
        } catch (error) {
            console.error('Error parsing YAML file:', error);
            return;
        }
    } else {
        console.error('Unsupported file format:', format);
        return;
    }
    
    // console.log(importedData);
 
{% macro import_fields(data, depth) -%}
  {% for key, entry in data.items() -%}
    {% if entry.data %}impData_{{ depth+1 }} = impData_{{ depth }}["{{ key }}"]
    {{ import_fields(entry.data, depth+1) }}{% else %}document.getElementById('{{ key }}').value = impData_{{ depth }}["{{ key }}"] || ''; 
    {% endif %}
  {%- endfor %}
{%- endmacro %}

    // Update form fields with imported data
    impData_0 = importedData;
    {{ import_fields(data, 0) }}
    

    console.log('Data imported successfully:', importedData);
}

function handleImportFile(e) {
    const file = e.target.files[0];
    const reader = new FileReader();
    
    reader.onload = function (e) {
        const fileContent = e.target.result;
        const importFormat = file.name.split('.').pop().toLowerCase();
        onInputFileLoad(fileContent, importFormat);
   };

   reader.readAsText(file);
}
document.getElementById('import_file').addEventListener('change', handleImportFile);

function exportData() {
    const exportFormat = document.getElementById('export_format').value;

{% macro export_fields(data) -%}
  {% for key, entry in data.items() -%}
    {% if entry.data %}
        "{{ key }}": { {{ export_fields(entry.data) }} 
        }, {% else %} 
            "{{ key }}": document.getElementById('{{ key }}').value || '', {% endif %}
  {%- endfor %}
{%- endmacro %}
    const formData = { {{ export_fields(data) }} };

    let exportData;
    if (exportFormat === 'yaml') {
        // Convert data to YAML
        try {
            exportData = jsyaml.dump(formData);
        } catch (error) {
            console.error('Error converting data to YAML:', error);
            return;
        }
    } else if (exportFormat === 'json') {
        // Convert data to JSON
        try {
            exportData = JSON.stringify(formData, null, 2);
        } catch (error) {
            console.error('Error converting data to JSON:', error);
            return;
        }
    }

    // Create a download link
    const blob = new Blob([exportData], { type: 'text/plain' });
    const url = URL.createObjectURL(blob);
    const a = document.createElement('a');
    a.href = url;
    a.download = 'data.' + exportFormat;
    a.click();
    URL.revokeObjectURL(url);
}
</script>
