<!DOCTYPE html>
<html>
<head>
 {% block head %}    
 {% endblock %}    
    <meta charset = "UTF-8">
    <!--icon code-->
    <script src="https://kit.fontawesome.com/70a51386c2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles_dark.css') }}">
    <!-- icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='initial.css')}}">
</head>
<body>
    <!-- Rounded switch -->
    <label class="toggle-dark-mode switch">
      <input type="checkbox" id="dark-mode-switch">
      <span class="slider round"></span>
    </label>
    <!-- logout button -->
    {% if g.user %}
    <a href=" {{url_for('logout')}} " class = 'logout-button fa'>LOGOUT</a>
    {% endif %}
    {% with messages = get_flashed_messages() %}
        {% if messages %} 
            <ul class = 'flashes'>
                {% for message in messages %} 
                    <li>{{message}}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    {% block body %}
    {% endblock %}
</body>

<script>
   function handleDarkMode() {
       var body = document.body;
       var mode_switch = document.getElementById('dark-mode-switch')
       if (mode_switch.checked)
            body.classList.add("dark-mode");
       else
            body.classList.remove("dark-mode");
       localStorage.setItem("darkModeEnabled", mode_switch.checked);
   }
   document.getElementById('dark-mode-switch').addEventListener('change', handleDarkMode);

   // Check if dark mode was previously enabled
   var darkModeEnabled = localStorage.getItem("darkModeEnabled");
   if (darkModeEnabled === "true") {
       var body = document.body;
       body.classList.add("dark-mode");
       document.getElementById('dark-mode-switch').checked = true;
   }
</script>
</html>
