<!DOCTYPE html>
<html>
<head>
 {% block head %}    
 {% endblock %}    
    <meta charset = "UTF-8">
    <!--icon code-->
    <script src="https://kit.fontawesome.com/70a51386c2.js" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles_dark.css') }}">
    <!-- icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='initial.css')}}">
</head>
<body>
    <!-- Rounded switch -->
    <div class="'header">
    <label class="toggle-dark-mode switch">
      <input type="checkbox" id="dark-mode-switch">
      <span class="slider round"></span>
    </label>

    <img class="center header-logo" src="{{url_for('static', filename='imgs/logo.png')}}" alt="LOGO">
    <!-- logout button -->
    {% if g.user %}
    <a href=" {{url_for('logout')}} " class = 'button logout-button fa'>LOGOUT</a>
    {% else %}
    <a href=" {{url_for('login')}}" class = 'button login-button fa fa-person-through-window'> LOGIN </a>
    {% endif %}
    {% with messages = get_flashed_messages() %}
        {% if messages %} 
            <ul class = 'flashes'>
                {% for message in messages %} 
                    <li>{{message}}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %} 
    </div>

    {% block body %}
    {% endblock %}
    
</body>
<script src="{{url_for('static', filename='dark_mode.js')}}"></script>
</html>
